*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Serverless directories
.serverless

# GoogleApps
credentials.json

src/main/resources/*.conf
!src/main/resources/*-sample.conf
src/main/resources/token
